.dropdown-style {
  background-color: #f1f1f1;
  border: 0.2px solid #e0e0e0;
  color: #2c2738a6;
  border-radius: 8px;
  padding: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  box-shadow: -5px 8px 13px -10px rgba(0, 0, 0, 0.17);
  font-weight: 400;
  width: 100%;
}
.input-title {
  font-weight: 700;
  font-size: 14px;
}
